body {
  font-family: "Anybody", cursive;
}

h1,
.logo-font1 {
  font-family: "Bebas Neue", cursive;
}

.logo-font2 {
  font-family: "Freehand", cursive;
}

h1 {
  font-size: 56px;
}

.navbar {
  position: absolute;
  margin-top: 20px;
  width: 1400px;
  z-index: 999;
}

h2,
.navbar-brand {
  padding-left: 10%;
  font-size: 36px;
}
.form-inline {
  padding-right: 5%;
}

i {
  color: #196fa2;
  background-color: aliceblue;
  padding: 10px;
  border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
}

#slider {
  overflow: hidden;
  width: 600px;
  left: 60%;
  position: relative;
  height: 850px;
}

#slider figure {
  position: relative;
  width: 100%;
  height: max-content;
  margin: 0;
  left: 0;
  display: flex;
  animation: 15s slider infinite;
  transition: all 1s ease-in-out;
}

#slider figure img {
  width: 100%;
  height: max-content;
  float: left;
}

.text-block {
  position: absolute;
  top: 180px;
  left: 0;
  background-color: aliceblue;
  color: #196fa2;
  padding-left: 20px;
  padding-right: 20px;
}

@keyframes slider {
  0% {
    left: 0;
  }
  25% {
    left: 0;
  }
  30% {
    left: -100%;
  }
  60% {
    left: -100%;
  }
  65% {
    left: -200%;
  }
  95% {
    left: -200%;
  }
  100% {
    left: -200%;
  }
}

.container {
  position: absolute;
  top: 80px;
  left: 10%;
}

.description {
  max-width: 400px;
  margin-bottom: 40px;
}

h1 {
  margin-top: 100px;
  margin-bottom: 20px;
}

.row-search {
  margin: 20px auto;
}

.btn-card {
  width: 190px;
  border-radius: 0;
  background-color: #196fa2;
}

.btn-primary:hover {
  background-color: #0e4665;
}

.btn-search,
.btn-login {
  width: 100px;
}

.btn-login {
  background-color: #196fa2;
  color: aliceblue;
  border: #196fa2;
}

.btn-search {
  background-color: #196fa2;
}

.footer {
  margin-top: 20px;
  background-color: rgb(244, 244, 244);
  padding: 30px 150px;
  font-size: 10px;
}

.logo-sm {
  font-size: 14px;
}

ul {
  list-style: none;
}

li a {
  color: black;
  text-decoration: none;
}

li a:hover {
  color: #196fa2;
  text-decoration: none;
}
